/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.local
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Laravel IDE Helper files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Serverless Framework
.serverless/
.serverless_plugins/

# Lambda環境変数ファイル
.env.lambda
